#new_hedgie {
  display: inline-block;
  width: 800px;
  height: 600px;
  margin: 60px;
}

#typeform_launch_button {
 display: inline-block;
 width: 200px;
 line-height: 50px;
 font-family: "Helvetica Nueue";
 text-transform: uppercase;
 border: none;
 color: red;
 font-size: 20px;
}
