
.profile-user-name {
  margin: 100px 0px 50px 0px;
}

.profile-show-heading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.small-button-green {
  margin-top: 17px;
}

.center-this {
  display: flex;
  justify-content: center;
}

.center-this-all {
  display: flex;
  justify-content: center;
}
.hedgie-profile {
  background: white;
  height: 320px;
  width: 90%;
  border-radius: 35px;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.hedgie-photo {
  background-size: cover;
  background-position: center;
  height: inherit;
  width: 320px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  margin: 0;
}

.hedgie-name-description {
  height: inherit;
  width: 515px;
  padding-left: 30px;
  position: relative;

}

.hedgie-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  font-size: 31px;
  padding-top: 20px;
  height: 60px;
  position: absolute;
  top: -20px;
  text-decoration: none;
}

.hedgie-name a {
  font-size: 40px;
  text-decoration: none;
  color: #40bc8c;
}

.hedgie-name h4 {
  font-size: 40px;
  text-decoration: none;
  color: #40bc8c;
}

.hedgie-name a:hover {
  text-decoration: none;
  color: #40bc8c;
  opacity: 0.8;

}

.hedgie-description {
  width: inherit;
  height: 150px;
  overflow: hidden;
  overflow:scroll;
  text-align: center;
  position: absolute;
  top: 50px;
}
.hedgie-booking {
  width: inherit;
  height: 100px;
  position: absolute;
  bottom: 10px;
}

.hedgie-edit-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 190px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.very-small-button-green {
  float: right;
  margin-top: -39px;
  border: 2px solid #40bc8c;
  display: inline-block;
  font-size: 20px;
  width: 165px;
  line-height: 15px;
  font-weight: 600;
  letter-spacing: 0;
  color: #40bc8c !important;
  margin-left: 130px;
  padding: 10px 30px;
  border-radius: 3px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  opacity: 0.8;
}

.very-small-button-green:hover {
  background-color: #40bc8c;
  color: #fff!important;
  text-decoration: none;
}
