<div class="home-banner">
  <form action="" class="banner-search">
    <div class="form-inline home-search">
      <input type="text" class="home-button-grey-search" placeholder="Where">
      <input type="text" class="home-button-grey datepicker" placeholder="Start Date">
      <input type="text" class="home-button-grey datepicker" placeholder="End Date">
      <%= link_to "Find Hedgie", hedgies_path, class: "home-button-green"  %>
    </div>
  </form>
</div>


