<div class="home-banner center">
  <div class="banner-left-container">
    <div class="mission-statement">
      <h1><strong>Cuddle Me Hedgie</strong> </h1>
    </div>
    <div class="mission-statement">
      <p>Play with the cutest hedgehogs in your area:</p>
    </div>
    <form action="/hedgies" action="GET" class="banner-search">
      <div class="form-inline home-search">
        <input type="text" name="address" class="home-button-grey-search" placeholder="Where?">
        <input type="submit" value= "Find Hedgie" class="home-button-white">
      </div>
      <h1 class="white-name text-center">
        <i class="fa fa-angle-down fa-3x" data-toggle="dropdown"></i>
      </h1>
    </form>
    <br>
    <br>
  </div>
  <div class="banner-img-right" style="background-image: url('http://allswalls.com/images/water-hedgehog-muzzle-nose-face-wallpaper-1.jpg');">


  </div>
</div>
