<div class="home-banner center">
  <div class="mission-statement">
    <h1>Cuddle Me Hedgie</h1>
  </div>
   <div class="mission-statement">
    <p>Play with the cutest Hedgehogs in your area:</p>
  </div>
  <form action="/hedgies" action="GET" class="banner-search">
    <div class="form-inline home-search">
      <input type="text" name="address" class="home-button-grey-search" placeholder="Where">
      <input type="submit" placeholder="Find Hedgie", class="home-button-green"  >
    </div>
  </form>
  <br>
  <br>
</div>
