.home-banner {
  margin-top: 70px;
  height: 100vh;
  display: flex;
}

.banner-left-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  background-color: $green;
  display: flex;
}

.banner-img-right {
  background-size: cover;
  background-position: 70%;
  width: 40vw;
}

::-webkit-input-placeholder {
  color: white;
}

.datepicker.dropdown-menu {
  background-color:white;
  color: $green;
}


.mission-statement > h1 {
  color: white;
}

.mission-statement {
  display: flex ;
  align-items: center;
  justify-content: center;
  h1 {
    padding-left: 0px;
  }
}
.mission-statement p {
  color: white;
  font-size: 2em;
  margin-bottom:1em;
}
.mission-statement h1 {
  font-size: 4em;
}

.white-name {
  color: white;
}
