.home-banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://allswalls.com/images/water-hedgehog-muzzle-nose-face-wallpaper-1.jpg');
  height: 40vh;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.home-search {
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

::-webkit-input-placeholder {
  color: white;
}

.datepicker.dropdown-menu {
  background-color:white;
  color: $green;
}

