.form-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  color: #666A6C;
  padding-bottom: 200px;
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #e5e5e5;
  }
  .larger-form {
    width: 400px;
  }
}

.form-control {
  color: #666a6c !important;
}
