.form-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  color: #666A6C;
  background-color: rgba(89, 214, 125, 0.8);
  padding-bottom: 200px;
}

.form-control {
  color: #666a6c !important;
}
